# gradle
build
.gradle/
build/
out/
classes/

# eclipse

*.launch
bin
.settings
.metadata

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr


# idea
out
.idea/*
!.idea/scopes

# other
eclipse
run
runs